{% extends 'main.html' %} 
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/animal.css' %}">
    
<div class="all-animals" style="margin: 20px 10px;">
  <h1>All Animals</h1>
  <div class="animals-container">
    {% for animal in animals %}
    <div class="animal-card">
    <h4>{{ animal.species }}</h4>
      <div class="animal-image">
        <img
          src="{{ animal.image_url }}"
          alt="{{ animal.species }}"
          width="200"
          height="140"
        />
      </div>
      <div class="animal-details">
        
        <p><strong>Habitat:</strong> {{ animal.habitat }}</p>
        <p>{{ animal.description }}</p>
        <a href="{% url 'Animal' animal.species %}">View Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
