{% extends 'main.html' %} {% block content %}
<div>
  <h1>Our Staff</h1>
  {% if request.user.is_authenticated and request.user.is_superuser %}
  <a class="create-animal-button" href="{% url 'create_staff' %}"
    >Add New Staff</a
  >
  {% endif %}

  <table class="table-striped">
    <tr>
      <th>Name</th>
      <th>Qualification</th>
      <th>Responsibilities</th>
      <th>Status</th>
      <th>Email</th>
      {% if request.user.is_authenticated and request.user.is_superuser %}
      <th>Delete</th>
      <th>Edit</th>
      {% endif %}
    </tr>
    {% for staff in staffs %}
    <tr>
      <td>{{ staff.user }}</td>
      <td>{{ staff.qualification }}</td>
      <td>{{ staff.responsibilities }}</td>
      <td>{{ staff.status }}</td>
      <td>{{ staff.email }}</td>
      {% if request.user.is_authenticated and request.user.is_superuser %}
      <td>
        <a href="{% url 'delete_staff' staff.id %}" class="delete">Delete</a>
      </td>
      <td>
        <a href="{% url 'update_staff' staff.id %}" class="update">Edit</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
