.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 10px;

  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 20px;
  }

  span {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }

  .event-date {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
}
